body {
  padding: 0;
  margin: 0;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex; */
  /* width: 800px; */
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1F2937;
  color: white;
  width: 100%;
  /* border: 2px solid red; */
}

a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

.top img {
  padding: 0 12px 0 0;
}

.top h5 {
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 700px;
  /* margin-bottom: 50px; */
  /* border: 2px solid red; */
}

.links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 22px;
  /* border: 2px solid red; */
}

.bot img {
  /* padding-left: 12px; */
  border-radius: 20px;
  flex-shrink: 0;
}

.bot h2 {
  margin-top: 0;
}

.text p {
  font-size: 10px;
  padding: 0;
}

.text button {
  margin-top: 8px;
  border: none;
  padding: 4px 16px;
  border-radius: 5px;
  background: #3882F6;
  color: white;
}

.bot {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  width: 700px;
  height: 250px;
  /* border: 2px solid red; */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
  /* gap: 20px; */
  /* border: 2px solid red; */
}

.txt h2 {
  height: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #1F2937;
  /* border: 2px solid red; */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.box img {
  border: 3px solid #3882F6;
  border-radius: 10px;
  margin: 0 20px;
  height: 120px;
  width: 120px;
}

.box p {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E5E7EB;
  height: 250px;
  width: 100%;
}

.qoutes {
  display: flex;
  flex-direction: column;
  color: #1F2937;
  font-size: 28px;
  font-style: italic;
  margin: 0;
  padding: 8px;
  height: 250px;
  width: 600px;
  /* border: 2px solid red; */
}

.qoutes h7 {
  font-size: 22px;
  padding: 12px;
  font-weight: bold;
}

.qoutes h7 {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 100%;
  height: 250px;
}

.bot-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  background: #3882F6;
  border-radius: 5px;
  padding: 30px 70px;
  width: 600px;
}

.large {
  font-weight: bold;
}

.texttt p {
  padding: 0;
  margin: 0;
  color: white;
}

.btn {
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 16px;
  color: white;
  background: #3882F6;
}
